# OpenMods Java Project .gitignore file
# Last Authored: 20150816

# Runtime output
*.class
*.log
*.pid

# Package Files
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
run/
repo/

# Eclipse
.classpath
.project
.settings/
*.launch
bin/

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/
out/

# OS Garbage
.DS_Store
Thumbs.db
desktop.ini

# Misc
download/